.shuli{
    width: 100%;
    height: 100%;
    margin:0 auto;
    line-height:48px;
    overflow: hidden;
}

#mainText{
    margin: 0 auto;height: 490px;overflow: hidden;
}

#main{
    font-size: 36px;
    width: 100%;
    position: relative;
    right: 0;
}

.bgColor{
    background-color: lightgoldenrodyellow;
}

.hard{
    background-color: grey;
}

.hie{
    writing-mode:tb-rl;
    width: 500px;
    height: 450px;
    margin:20px;
}